<!--
  TODO
  clone ra n track để nói chuyện riêng
  sau cùng có thể mute và enable audio element của từng thằng
  làm bài kiểm tra fake bên phía thí sinh
-->
<!DOCTYPE html>
<html>
    <meta charset="UTF-8"></meta>
    <head>
        <title>supervisor</title>
    </head>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.0/milligram.css">
    <style>
      .row {
        margin-left: 0%;
      }
      .speaker {
        position: fixed;
        right: 3%;
        bottom: 3%;
      }
      #big {
        position: fixed;
        display: block;
        top: 0%;
        width: 100%;
        height: 100%;
        left: 0%;
        right: 0%;
        background-color: white;
        border: 1px solid;
        z-index: 2;
      }
    </style>
    <body>
      <div id="wrapper" class="container">
        <div id="title" class="row" style="text-align: center;"><h3>{{ name }}</h3></div>
        <div id="big" :style="bigStyle">
          <button class="close-button" @click="closeBig">close</button>
          <div class="row">{{ currentid }} - {{ currentname }}</div>
        </div>
        <div id="stream-grid">
          <student
            v-for="student in students"
            v-bind:key="student.mssv"
            v-bind:id="student.mssv"
            v-bind:name="student.name">
          </student>
        </div>
        <button class="speaker" @click="toggleSpeaker()">{{ speakerOn ? 'tắt loa' : 'bật loa' }}</button>
      </div>
        <script src="sip-0.17.1.min.js"></script>
        <script src="vue.min.js"></script>
        <script>
const Web = SIP.Web;
let roomdata;

const ua = new SIP.UserAgent({
  // EXAMPLE wsServers: "wss://my.websocketserver.com",
  transportOptions: {
    server: "wss://ssl.nkhoa.email:7443",
  },
  uri: SIP.UserAgent.makeURI("sip:1001@172.104.39.193"),
  authorizationUsername: "1001",
//   password: null,
  // FILL IN THOSE VALUES ^

  traceSip: false,
  delegate: {
    onInvite,
    onDisconnect
  }
});

async function onDisconnect() {
  console.log('=================reconnect===============');
  // Connect to server
  await ua.reconnect();
  const registerer = new SIP.Registerer(ua);
  // Register to receive inbound calls
  await registerer.register();
}

const SessionState = SIP.SessionState;
function onInvite(invitation) {
    invitation.stateChange.addListener((state) => {
    console.log(`Session state changed to ${state}`);
        switch (state) {
            case SessionState.Initial:
                break;
            case SessionState.Establishing:
                break;
            case SessionState.Established:
                setupRemoteMedia(invitation);
                break;
            case SessionState.Terminating:
                // fall through
            case SessionState.Terminated:
                // cleanupMedia(invitation);
                break;
            default:
                throw new Error("Unknown session state.");
        }
    });
    const mssvHeader = invitation.request.headers['X-Mssv'];
    if (!mssvHeader) {
      console.log('==============header not found===============');
      invitation.reject();
    } else {
      const mssv = mssvHeader[0].raw;
      console.log(`================${mssv}==============`);
      const student = roomdata.students.filter(student => student.mssv == mssv);
      if (student.length == 0) {
        console.log('==============mssv not found in this room===============');
        invitation.reject();
      } else {
        console.log('==============accept===============');
        invitation.accept({
          sessionDescriptionHandlerOptions: {
            constraints: { video: false, audio: true }
          }
        });
      }
    };
};

let localTracks = [];
let localStream;

function setupRemoteMedia(session) {
  const remoteStream = new MediaStream();
  session.sessionDescriptionHandler.peerConnection.getReceivers().forEach((receiver) => {
    if (receiver.track) {
      remoteStream.addTrack(receiver.track);
    }
  });
  localStream = session.sessionDescriptionHandler.localMediaStream;
  let i = setInterval(() => {
    const track = localStream.getAudioTracks()[0];
    if (track) {
      localTracks.push(track);
      track.enabled = app.speakerOn;
      clearInterval(i);
    };
  }, 1000);
  // addStudent(session.id, remoteStream, true);
  const mediaElement = document.getElementById(session.request.headers['X-Mssv'][0].raw);
  mediaElement.srcObject = remoteStream;
  // remoteStream.getAudioTracks()[0].enabled = false;
  mediaElement.play();
}

Vue.component('student', {
  props: ['id', 'name'],
  data() {
    return {};
  },
  computed: {
    style() {
      return 'display: inline-block; width: 24%; border: 1px solid; margin-right: 1%; height: 33vh;';
    }
  },
  methods: {
    toBig() {
      app.bigStyle = 'display: block;';
      const video = document.getElementById(this.id);
      video.style['z-index'] = '10';
      video.style['position'] = 'fixed';
      video.style['width'] = '80vw';
      video.style['height'] = '80vh';
      video.style['left'] = '10vw';
      video.style['top'] = '10vh';
      app.currentid = this.id;
      app.currentname = this.name;
    }
  },
  template: 
    '<div :style="style" @click="toBig"><div class="row">{{ id }} - {{ name }}</div><div class="row"><video :id="id" style="width: 90%;"></video></div></div>'
});

// function cleanupMedia(session) {
//   const mediaElement = document.getElementById(session.id);
//   mediaElement.srcObject = null;
//   mediaElement.pause();
// }

let app;

async function tryconnect() {
  // Connect to server
  await ua.start();
  const registerer = new SIP.Registerer(ua);
  // Register to receive inbound calls
  await registerer.register();
}

(async function setup() {
  roomdata = await (await fetch('room.json')).json();
  document.title = roomdata.name;
  // roomdata.students.forEach(student => addStudent(student.mssv, null, false));

  app = new Vue({
    el: '#wrapper',
    data: { 
      ...roomdata,
      speakerOn: true,
      bigStyle: 'display: none;',
      currentid: null,
      currentname: null
    },
    methods: {
      toggleSpeaker() {
        this.speakerOn = !this.speakerOn;
        localTracks.forEach(track => track.enabled = this.speakerOn);
      },
      closeBig() {
        this.bigStyle = 'display: none;';
        const video = document.getElementById(this.currentid);
        video.style['z-index'] = '1';
        video.style['position'] = 'relative';
        video.style['width'] = '90%';
        video.style['height'] = 'auto';
        video.style['left'] = 'auto';
        video.style['top'] = 'auto';
      }
    }
  });

  await tryconnect();
})();
        </script>
    </body>
</html>